@import './_variables';

.btn {
    &,
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        position: relative;
    
        /* Simple animation, all properties to animate */
        /* Transition needs to be applied to the initial state. */
        transition: all .2s;


        //change for button element
        border: none;
        cursor: pointer;
        background: white;
    }

    &-animated {
        animation: moveUp 1s ease-out .75s;   
        /* Apply the 0% styles before the animation starts */
        animation-fill-mode: backwards; 
    }

    &:hover {
        transform: translateY(-.3rem);
        /* Create a shadow on hover to make the button look as it's floating */
        box-shadow: 0 1rem 2rem rgba(0,0,0, .20);
        
        &::after {
            transform: scale(1.4, 1.6);
            opacity: 0;
        }
    }

    /* The active state is when the button is clicked. */    
    &:active,
    &:focus {
        transform: translateY(-.1rem);
        /* Move the shadow closer to the page on click. */
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .20);
    }

    // Create the scale effect
    &::after {
        /* You have to specify content even if it's empty */
        content: "";
        display: inline-block;
        position: absolute;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        z-index: -1;
        transition: all .4s;
    }

    &-white {
        background-color: black;
        color: white;
    
        &::after {
            background-color: black;        
        }
    }
}

.btn-text {
    &:link,
    &:visited {
        color: white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid white;
        padding: 3px;
        font-size: 2rem;
        transition: all .2s;
    }

    &:hover {
        background-color: white;
        color: white;
        box-shadow: 0 1rem 2rem rgba(0,0,0, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .15);
        transform: translateY(0);
    }
}

input[type='text'], textarea {
    & {
        font-size: 2rem;
        padding: .5rem;
        border: none;
        border-bottom: 2px solid white;
        color: white;
        background: transparent;
    }

    &:focus {
        outline: none;
        border-bottom: 2px solid $primary-color;
    }
}

// textarea {
//     & {
//         border-left: 2px solid white;
//         border-right: 2px solid white;
//         border-bottom: 2px solid white;
//     }

//     &:focus {
//         border-left: 2px solid $primary-color;
//         border-right: 2px solid $primary-color;
//         border-bottom: 2px solid $primary-color;
//     }
// }

input[type='submit'] {
    color: white;
    background: transparent;
    border: 1px solid white;
}